name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Pytest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
        environment-file: environment.yml
        activate-environment: partnership-analysis
        auto-update-conda: true
        python-version: 3.11
    - name: Run tests
      run: |
        conda activate partnership-analysis
        python -m pytest tests/ --no-cov -q --tb=no --disable-warnings